#navbar{
  padding:10px;
  position: relative;
  top: 0
}
#navbar ul{
  list-style: none;
  padding:0;
  font-family: cursive;
}
ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    font-size: 40px;
    font-family: cursive;
    font-size: 60px;
    overflow: hidden;
    position: relative;
    left: 15%;
}
#navbar li{
  display:inline;
  color: white;
}

#navbar a{
  color: black;
  text-decoration: none;
  font-size:35px;
  padding-right:30px;
}
.text{
  font-size: 30px;
}
#btn-signin, #btn-signup{
    border: 1px solid rgba(41, 96, 167, 0.438) ;
    background-color: rgba(45, 106, 185, 0.418);
    border-radius: 20px;
    height: 60px;
    width: 100px;
    font-size: 18px;
    position:relative;
    left:90%;
}

#dodajUkosaricu{
  border: 1px solid rgba(41, 96, 167, 0.438) ;
  background-color: rgba(45, 106, 185, 0.418);
  border-radius: 20px;
  height: 60px;
  width: 100px;
  font-size: 18px;
  position:relative;
  float:right;
  left:0;
}

ul.products{
    
  list-style-type: none;
  margin: 0;
  left:0;
  font-size: 20px;;
  overflow: hidden;
  
  

}
li.products {
  color: white;
  font-family: cursive;
  font-size: 30px;
  float: left;
  padding: 10px;
  width: 90%;
  border: 10px solid white;
  background-color: rgba(167, 64, 153, 0.699);
  border-radius: 20px;
}
.proizvod {
  color: white;
  font-family: sans-serif;
  float: left;
  padding: 10px;
  width: 90%;
  border: 10px solid white;
  background-color: #64659d;
  border-radius: 20px;
}

.podnaslov{
  font-size: 40px;
  font-family: cursive;
  color: coral;
}

#srch{
  border: 1px solid  rgba(167, 64, 153, 0.699); 
  background-color: rgba(167, 64, 153, 0.699);
  border-radius: 20px;
  height: 60px;
  width: 300px;
  font-size: 18px;

}
.akcija{
  color: red;
  text-decoration: line-through;

}

.novo{
  color:red;
}


body{
  background-color: rgba(26, 96, 143, 0.349);
}

select{
  background-color: rgba(167, 64, 153, 0.192);
  border-radius: 20px;
  height: 60px;
  width: 200px;
  font-size: 20px;
}

.sort{
  background-color: rgba(167, 64, 153, 0.192);
  border-radius: 20px;
  height: 30px;
  width: 120px;
  font-size: 20px;

}